form {
    label {
        display: block;
        text-align: left;
        margin: 10px 0;
    }

    .label--inline {
        display: inline-block;    
    }

    input[type=text], select {
        width: 100%;
        height: 50px;
        border: 2px solid #dddddd;
        background-color: $light-grey;
        margin: 0 0 10px;
        padding: 5px 10px;
        color: $dark-grey;
    }

    input[type=number] {
        background-color: $light-grey;
        border: 2px solid #dddddd;
        height: 50px;
        width: 60px;
        margin: 0 10px 10px;
        text-align: center;
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=date] {
        height: 50px;
        background-color: $light-grey;
        border: 2px solid #ddd;
        text-align: center;
        margin: 0 20px 10px 0;
    }

    textarea {
        background-color: $light-grey;
        border: 2px solid #ddd;
        width: 100%;
        min-height: 200px;
        resize: none;
        padding: 10px;
    }

    .error {
        color: $dark-peach;
    }

    .success {
        color: green;
    }
}