.float--left {
    float: left;
    margin: 0 3px;
}

.center {
    text-align: center;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-columns--mobile {
    display: flex;
    align-items: center;
}