$dark-blue: #44A8B0;
$medium-blue: #61D1DA;
$light-blue: #B3E8EE;
$dark-grey: #777777;
$medium-grey: #AAAAAA;
$light-grey: #EDEDED;
$dark-peach: #D96A5C;
$medium-peach: #F9998D;
$light-peach: #FFCBC4;

$main-font: 'Raleway', sans-serif;
$symbol-font: 'Passion One', sans-serif;